@*@model BandsIndexViewModel
@{
    Layout = "_Layout";
    ViewBag.Title = "Bands";
}

<div class="container">

    <nav class="navbar fixed-top navbar-dark navBgColor">
        <a class="navbarLogo" asp-controller="Bands" asp-action="Index"><h3>@ViewBag.Title</h3></a>
    </nav>
    <div class="row topDistance">
        @foreach(var band in Model.Bands)
        {
            <div class="col-sm-6 col-md-4 col-lg-3 card">
                <a asp-controller="Bands" asp-action="Details" asp-route="@band.Id"><img class="overlay images card-img-top" src=@band.ImageUrl alt=@band.Name /></a>
                <div class="card-body">
                    <h4 class="card-title">@band.Name</h4>
                    <p class="card-text indexParagraph">@band.Description</p>
                    <a asp-controller="Bands" asp-action="Details" asp-route="@band.Id">Läs mer!</a>
                </div>
            </div>
        }
    </div>
</div>*@

@using WebApplication1.Models

    <!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Josefin+Sans|Nunito+Sans|Play">
        <link rel="stylesheet" href="/css/myStyles.css" />
        <title>Index</title>
    </head>
    <body>
        <div class="container">

            <nav class="navbar fixed-top navbar-dark navBgColor">
                <a class="navbarLogo" href="/Bands"><h3>Bands</h3></a>
            </nav>

            @{
                var bands = ((Band[]) ViewBag.Bands);
            }
            <div class="row topDistance">
                @foreach(var band in bands)
                {
                    <div class="col-sm-6 col-md-4 col-lg-3 card">
                        <a href="/Bands/Details/@band.Id"><img class="overlay images card-img-top" src=@band.ImageUrl alt=@band.Name></a>
                        <div class="card-body">
                            <h4 class="card-title">@band.Name</h4>
                            <p class="card-text indexParagraph">
                                @band.Description
                            </p>
                            <a href="/Bands/Details/@band.Id" class="btn btn-block">Läs mer!</a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </body>
    </html>



